@import url("./reset.css");

.sidbar{
    border-right: 1px solid var(--cinza);
    width: 245px;
    height: 100vh;
    padding: 10px;
    float: left;
}

.sidbar .options{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidbar .options .card-option{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.sidbar .options .card-option:hover{
    background-color: var(--cinza);
}

.sidbar .options .card-option .icon .small-img{
    border-radius: 50%;
    overflow: hidden;
    width: 25px;
    height: 25px;
}

.sidbar .options .card-option .icon .small-img img{
    width: 100%;

}

main{
    padding: 20px 40px;
}



